// GLOBAL
$global-padding: 1rem;
$global-margin: 1rem;
$button-border-radius: 12px;

// CUSTOM COLORS
$starboy1: #9DEABE;
$starboy2: #F2E399;
$starboy3: #BF4542;
$starboy4: #404040;
$starboy5: #FFFDE8;
$starboy6: #72AD81;

// COLORS
$body-color: #333333;
$white: #fff;
$light-gray: #f1f5f5;
$gray: $starboy5;
$darken-gray: darken($gray, 10%);
$skull-gray: #828282;
$blue: #26a5d4;
$darken-blue: darken($blue, 10%);
$dark-blue: #21125e;
$red: #eb5757;
$dark-red: #c53636;
$green: #27ae60;
$beige: #fffaec;
$turquoise: #13bebb;
$light-turquoise: #3ee7cd;

// TYPOGRAPHY
$font-family-sans-serif: "Lato", sans-serif;
$h1-font-size: 3rem;
$h2-font-size: 1.3rem;
$h3-font-size: 1rem;

$theme-colors: (
  primary: $starboy1,
  secondary: $starboy5,
  success: $starboy6,
  info: $turquoise,
  warning: $starboy2,
  danger: $starboy3,
  light: $starboy5,
  dark: $starboy4
);
